{{/* Article card partial - used in grids and lists */}}
<article class="article-card{{ if .Params.cover_image }} has-cover{{ end }}">
    {{ if .Params.cover_image }}
    <a href="{{ .RelPermalink }}" class="article-card-image">
        <img src="{{ .Params.cover_image }}" alt="{{ with .Params.cover_image_alt }}{{ . }}{{ else }}{{ $.Params.cover_alt | default $.Title }}{{ end }}" width="600" height="375" loading="lazy">
    </a>
    {{ end }}
    <div class="article-card-content">
        {{ if .Params.suburb }}
        <div class="article-card-suburb">{{ .Params.suburb | upper }}</div>
        {{ end }}
        
        <h3 class="article-card-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
        
        <p class="article-card-excerpt">
            {{ if .Description }}
                {{ .Description | truncate 100 }}
            {{ else }}
                {{ .Summary | plainify | truncate 100 }}
            {{ end }}
        </p>
        
        <div class="article-card-footer">
            <div class="article-card-author">
                <span class="article-card-author-dot">{{ if .Params.author }}{{ substr .Params.author 0 1 | upper }}{{ else }}M{{ end }}</span>
                <span class="article-card-author-name">{{ .Params.author | default "MELBZ" }}</span>
            </div>
            {{ if .Params.updated }}
            <span class="article-card-date">{{ dateFormat "2 Jan" .Params.updated }}</span>
            {{ end }}
        </div>
    </div>
</article>
