{{ $authorSlug := .Params.author }}
{{ $authorData := "" }}
{{ if $authorSlug }}
  {{ $authorData = (index .Site.Data.authors $authorSlug) }}
{{ end }}

{{ if $authorData }}
<div class="author-byline">
    <div class="author-avatar">
        <a href="/authors/{{ $authorSlug }}/">
            <img src="{{ $authorData.avatar }}" alt="{{ $authorData.name }}">
        </a>
    </div>
    <div class="author-meta">
        <p class="author-name"><a href="/authors/{{ $authorSlug }}/">{{ $authorData.name }}</a></p>
        <p class="author-role">{{ $authorData.role }} • {{ .Date.Format "Jan 2, 2006" }} • {{ .ReadingTime }} min read</p>
    </div>
</div>
{{ else }}
<div class="author-byline">
    <p>MELBZ Editorial Team • {{ .Date.Format "Jan 2, 2006" }}</p>
</div>
{{ end }}
