<div class="author-byline">
    {{ $author := .Params.author | default "MELBZ" }}
    {{ $authorSlug := $author | urlize }}
    {{ $authorPhoto := printf "/images/authors/%s.jpg" $authorSlug }}
    <div class="author-avatar">
        <a href="/authors/{{ $authorSlug }}/">
            <span class="author-initial">{{ substr $author 0 1 }}</span>
        </a>
    </div>
    <div class="author-info">
        <a href="/authors/{{ $authorSlug }}/" class="author-name">{{ $author }}</a>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ if .Params.updated }}
        <span class="updated-badge">Updated {{ dateFormat "Jan 2006" .Params.updated }}</span>
        {{ end }}
    </div>
</div>
